.create_note {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10%;
    gap: 40px;
}


.information {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 20%;
}


input{
    background-color: #FCC5C5;
    width: 100%;
    height: 45px;
    border: none;
}


input, label {
    display: block;
    float: left;
    text-align: left;
}


textarea {
    background-color: #FCC5C5;
    border: none;
    resize:vertical;
    height: 60px;
}


textarea::placeholder {
    padding: 10px;
}

input::placeholder {
    padding: 10px;
}

.create_button {
    width: 40%;
    margin: auto;
}

.create_button > button {
    background-color: white;
    width: 25%;
}


.create_button > button:hover {
    color: black;
    border-color: #61afaf;
}

.rd_buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 40px;
}


.block_photo > input{
    background-color: white;
    width: 100%;
    margin-top: 2%;
}


input[type="radio"]:focus {
    accent-color: #61afaf;
}


input[type="text"]:focus {
    border: 2px solid #61afaf;
    outline: #61afaf;
}


textarea:focus {
    border: 2px solid #61afaf;
    outline: #61afaf;
}

.to_submit {
    width: 100%;
    background-color: white;
    border-radius: 20px;
    border: 1.5px solid black;
    text-align: center;
}

input[type="submit"]:hover {
    border: 2px solid #61afaf;
    outline: #61afaf;
}