<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="title_page"/>
    <link rel="stylesheet" th:href="@{/styles/for_footer.css}">
    <link rel="stylesheet" th:href="@{/styles/for_header.css}">
    <link rel="stylesheet" th:href="@{/styles/create_note_main.css}">
</head>
<body>
    <header th:insert="bases/header :: header_block"></header>
        <div class="create_note">
            <img th:src="@{/images/image 6.png}" width="329" height="280">
            <h1>Создаем рецепт</h1>
            <form action="/create_new_recipe" method="post" class="information" enctype="multipart/form-data">
                <label for="title_recipe">Заголовок</label>
                <input type="text" placeholder="Ваш заголовок" id="title_recipe" name="title_recipe">
                <label for="description">Описание</label>
                <textarea id="description" name="description" placeholder="Ваше описание"></textarea>
                <label for="compound">Описание готовки</label>
                <textarea id="compound" name="compound" placeholder="Ваше описание готовки"></textarea>
                <label>Состав</label>
                <div class="rd_buttons">
                    <input type="radio" title="r_sel" id="rad_r" name="select">
                    <label for="rad_r">Ручной</label>
                    <input type="radio" title="l_sel" id="rad_l" name="select">
                    <label for="rad_l">Список</label>
                </div>
                <textarea placeholder="Ваш состав"></textarea>
                <div class="block_photo">
                    <label for="photo">Фото</label>
                    <input type="file" id="photo" name="main_file">
                </div>
                <input type="submit" value="Отправить" class="to_submit">
            </form>
        </div>
    <footer th:insert="bases/footer :: footer_block"></footer>
</body>
</html>