<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="title_page"/>
    <link rel="stylesheet" th:href="@{/styles/for_footer.css}">
    <link rel="stylesheet" th:href="@{/styles/for_header.css}">
    <link rel="stylesheet" th:href="@{/styles/create_note_main.css}">
</head>
<body>
<header th:insert="~{bases/header :: header_block}"></header>
<div class="create_note">
    <img th:src="@{/images/image 5.png}" width="329" height="280">
    <h1>Создаем отзыв</h1>
    <form action="/create_review/create" method="post" class="information">
        <label for="text_title">Имя</label>
        <input type="text" placeholder="Ваш заголовок" id="text_title" name="name_user">
        <label for="em">Как нам с вами связаться</label>
        <input type="email" id="em" placeholder="Ваше описание" name="email">
        <label for="message">Ваше сообщение</label>
        <textarea id="message" name="message_user"></textarea>
        <div class="create_button">
            <input type="submit" value="Добавить" class="to_submit">
        </div>
    </form>
</div>
<footer th:insert="~{bases/footer :: footer_block}"></footer>
</body>
</html>