<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>
    <link rel="stylesheet" th:href="@{/styles/create_note_main.css}">
    <link rel="stylesheet" th:href="@{/styles/create_note_main.css}">
</head>
<body>
<div class="create_note">
    <img th:src="@{/images/image 5.png}" width="329" height="280">
    <h1>Вход</h1>
    <form action="/login" method="post" class="information">
        <label for="text_title">Логин</label>
        <input type="text" placeholder="Ваш логин" id="text_title" name="username">
        <label for="password">Пароль</label>
        <input type="password" id="password" placeholder="Ваш пароль" name="password">
        <div class="create_button">
            <input type="hidden" name="_csrf" th:value="${_csrf.token}">
            <input type="submit" value="Войти" class="to_submit">
        </div>
        <div class="create_button">
            <button class="to_submit" style="width: 100%; height: 40px"><a href="/registration" style="text-decoration: none; color: black;">Регистрация</a></button>
        </div>
    </form>
</div>
</body>
</html>