<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="title_page"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/styles/for_header.css}" rel="stylesheet" />
    <link th:href="@{/styles/for_footer.css}" rel="stylesheet">
    <link th:href="@{/styles/main.css}" rel="stylesheet">
</head>
<body>
    <header th:insert="~{bases/header :: header_block}"></header>
    <div class="main_body">
        <div class="main_body_dl1">
            <div class="main_body_dl1_left">
                <img th:src="@{/images/Frame 35.png}" width="1044" height="928">
            </div>
            <div class="main_body_dl1_right">
                <h1 style="font-weight: 500;">Готовим вместе с Kitchen</h1>
                <div class="main_body_dl1_right_text">
                    <p>Здесь ты сможешь создавать свои кулинарные записки, заметки.</p>
                    <p>Делиться своими шедеврами, а также познавать мир кулинарных искусств</p>
                </div>
                <div class="main_body_dl1_right_buttons">
                    <button class="create_recipe"><a href="/create_recipe" />Создать рецепт</button>
                    <button class="create_note"><a href="/create_note" />Создать заметку</button>
                </div>
            </div>
        </div>
        <div class="main_body_dl2">
            <div class="main_body_dl2_content">
                <div class="main_body_dl2_content_header">
                    <h1 style="font-weight: 500;">Наши возможности</h1>
                </div>
                <div class="main_body_dl2_content_elem">
                    <div class="row-1">
                        <div class="row-1_block">
                            <img th:src="@{/images/save-svgrepo-com 1.png}" width="80" height="80">
                            <p>Сохранение своих заметок, рецептов</p>
                        </div>
                        <div class="row-1_block">
                            <img th:src="@{/images/recommended_r4o09acful5c 1.png}" width="80" height="80">
                            <p>Удобная система рекомендаций</p>
                        </div>
                        <div class="row-1_block">
                            <img th:src="@{/images/performance_aaxyxp48unfd 1.png}" width="80" height="80">
                            <p>Возможность самосовершенствования</p>
                        </div>
                    </div>
                    <div class="row-2">
                        <div class="row-2_block">
                            <img th:src="@{/images/free-pine-svgrepo-com 1.png}" width="80" height="80">
                            <p>Абсолютно бесплатный формат</p>
                        </div>
                        <div class="row-2_block">
                            <img th:src="@{/images/safety_sew18qf16afq 1.png}" width="80" height="80">
                            <p>Безопасность ваших данных</p>
                        </div>
                        <div class="row-2_block">
                            <img th:src="@{/images/usability_8ymhtvc0gc57 1.png}" width="80" height="80">
                            <p>Удобство использования</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main_body_dl2_photo">
            <div class="main_body_dl2_photo__text">
                <h2>Готовность к готовке</h2>
                <p>Присоединяйся к нашему сообществу и становись лучше!</p>
            </div>
            <div class="main_body_dl2_photo__photo">
                <img th:src="@{/images/image 2.png}">
            </div>
        </div>
        <div class="main_body_dl2_line-block">
            <div class="main_body_dl2_line-block__text">
                <h2>Нравится наш сервис</h2>
                <p>Тогда оставь нам свой отзыв, мы рады любому комментарию!</p>
            </div>
            <div class="main_body_dl2_line-block__buttons">
                <button><a href="/create_review">Создать отзыв</a></button>
                <button><a href="/reviews">Отзывы</a></button>
            </div>
        </div>
    </div>
    <footer th:insert="~{bases/footer :: footer_block}"></footer>
</body>
</html>