<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="title_page"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/styles/for_header.css}">
    <link rel="stylesheet" th:href="@{/styles/for_footer.css}">
    <link rel="stylesheet" th:href="@{/styles/main.css}">
    <link rel="stylesheet" th:href="@{/styles/for_note.css}">
</head>
    <body>
        <header th:insert="~{bases/header :: header_block}"></header>
        <div class="container mt-45">
            <h2 class="z_header">Мои заметки</h2>
            <div th:if="${user.login}">
                <div class="unique_note" th:each="note : ${all_notes}">
                    <div class="left_info_note">
                        <h2 th:text="${note.title_note}"/>
                        <p th:text="${note.description}"/>
                        <p th:text="${note.date_cr}"/>
                    </div>
                    <div class="right_info_note">
                        <form action="/delete_note" method="post" style="width: 100%">
                            <input type="hidden" name="id_note" th:value="${note.id_notes}" />
                            <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                            <input type="submit" value="Удалить" class="bt_del">
                        </form>
                        <button class="bt_upd">Обновить</button>
                        <form action="/note_by_id" method="get" style="width: 100%">
                            <input type="hidden" name="id_note" th:value="${note.id_notes}">
                            <input type="submit" value="Просмотр" class="bt_info">
                        </form>
                    </div>
                </div>
            </div>
            <div class="button_add">
                <button class="bt_add">
                    <a href="/create_note">Добавить</a>
                </button>
            </div>
        </div>
        <footer th:insert="~{bases/footer :: footer_block}"></footer>
    </body>
</html>