<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/styles/create_note_main.css}">
    <link rel="stylesheet" th:href="@{/styles/for_header.css}">
    <link rel="stylesheet" th:href="@{/styles/for_footer.css}">
</head>
<body>
    <div class="create_note">
        <img th:src="@{/images/image 5.png}" width="329" height="280">
        <h1>Регистрация</h1>
        <form action="/registration" method="post" class="information">
            <label for="text_title">Логин</label>
            <input type="text" placeholder="Ваш заголовок" id="text_title" name="login">
            <label for="password">Пароль</label>
            <input id="password" placeholder="Ваше описание" name="password"></textarea>
            <label for="email_text">Почта</label>
            <input type="email" id="email_text" name="email">
            <div class="create_button">
                <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                <input type="submit" value="Зарегистрироваться" class="to_submit">
            </div>
        </form>
    </div>

    <!--Error message-->
    <p th:if="${error_text}">
        <span th:text="${error_text}"/>
    </p>
</body>
</html>