<hibernate-configuration>
    <session-factory>

        <!--Параметры для соединения с БД-->

        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/JV_BookRecipes</property>
        <property name="connection.username">darkfos82</property>
        <property name="connection.password">454590</property>
        <property name="hibernate.show_sql ">true</property>
        <property name="hbm2ddl.auto">update</property>

    </session-factory>
</hibernate-configuration>