<div th:fragment="header_block" xmlns:th="http://www.w3.org/1999/xhtml">
    <header class="head">
        <a href="/"><img th:src="@{/images/image 5.png}" class="icon_main"></a>
        <nav>
            <ul class="list_li">
                <li>
                    <a href="/recipes">Рецепты</a>
                </li>
                <li>
                    <a href="/note">Заметки</a>
                </li>
                <li>
                    <a href="#">Рекомендации</a>
                </li>
                <li>
                    <a href="/reviews">Отзывы</a>
                </li>
            </ul>
        </nav>
        <div class="buttons" th:if="${user.login}">
            <a href="/my-profile">Мой профиль</a>
            <form action="/logout" method="post">
                <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                <input type="submit" value="Выйти">
            </form>
        </div>
        <div class="buttons" th:unless="${user.login}">
            <button><a href="/login">Войти</a></button>
            <button><a href="/registration">Регистрация</a></button>
        </div>
    </header>
</div>