<div th:fragment="header_block" xmlns:th="http://www.w3.org/1999/xhtml">
    <header class="head">
        <a href="/"><img th:src="@{/images/image 5.png}" class="icon_main"></a>
        <nav>
            <ul class="list_li">
                <li>
                    <a href="/recipes">Рецепты</a>
                </li>
                <li>
                    <a href="/note">Заметки</a>
                </li>
                <li>
                    <a href="#">Рекомендации</a>
                </li>
            </ul>
        </nav>

        <div class="buttons">
            <button>Войти</button>
            <button>Регистрация</button>
        </div>
    </header>
</div>