
html {
    position: relative;
}

.head{
    display: flex;
    flex-direction: row;
    background-color: #FCC5C5;
    margin: 0;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    gap: 500px;
}


.icon_main{
    margin-left: 80px;
}

.list_li{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 70px;
}

.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

li {
    list-style-type: none;
}

nav {
    align-items: center;
    display: flex;
}

a {
    color: none;
    text-decoration: none;
    color: black;
}


a:focus {
    color: #61afaf;
}


button {
    background-color: #FCC5C5;
    border: 1.5px black solid;
    border-radius: 30px;
    width: 105px;
    height: 40px;
    padding: 5px;
}


button:focus {
    border-color: #61afaf;
}

button:hover {
    border-color: #61afaf;
    color: rgb(255, 255, 255);
}