<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="for_header.css">
    <link rel="stylesheet" href="for_footer.css">
    <link rel="stylesheet" href="main.css">
    <title>Header</title>
</head>
<body>
    <header class="head">
        <img src="icon_main.png" class="icon_main">
        <nav>
            <ul class="list_li">
                <li>
                    <a href="#">Рецепты</a>
                </li>
                <li>
                    <a href="#">Заметки</a>
                </li>
                <li>
                    <a href="#">Рекомендации</a>
                </li>
            </ul>
        </nav>

        <div class="buttons">
            <button>Войти</button>
            <button>Регистрация</button>
        </div>
    </header>

    <div class="main_body">
        <div class="main_body_dl1">
            <div class="main_body_dl1_left">
                <img src="Frame 33.png" width="1044" height="928">
            </div>
            <div class="main_body_dl1_right">
                <h1 style="font-weight: 500;">Готовим вместе с Kitchen</h1>
                <div class="main_body_dl1_right_text">
                    <p>Здесь ты сможешь создавать свои кулинарные записки, заметки.</p>
                    <p>Делиться своими шедеврами, а также познавать мир кулинарных искусств</p>
                </div>
                <div class="main_body_dl1_right_buttons">
                    <button class="create_recipe">Создать рецепт</button>
                    <button class="create_note">Создать заметку</button>
                </div>
            </div>
        </div>
        <div class="main_body_dl2">
            <div class="main_body_dl2_content">
                <div class="main_body_dl2_content_header">
                    <h1 style="font-weight: 500;">Наши возможности</h1>
                </div>
                <div class="main_body_dl2_content_elem">
                    <div class="row-1">
                        <div class="row-1_block">
                            <img src="save-svgrepo-com 1.png" width="80" height="80">
                            <p>Сохранение своих заметок, рецептов</p>
                        </div>
                        <div class="row-1_block">
                            <img src="recommended_r4o09acful5c 1.png" width="80" height="80">
                            <p>Удобная система рекомендаций</p>
                        </div>
                        <div class="row-1_block">
                            <img src="performance_aaxyxp48unfd 1.png" width="80" height="80">
                            <p>Возможность самосовершенствования</p>
                        </div>
                    </div>
                    <div class="row-2">
                        <div class="row-2_block">
                            <img src="free-pine-svgrepo-com 1.png" width="80" height="80">
                            <p>Абсолютно бесплатный формат</p>
                        </div>
                        <div class="row-2_block">
                            <img src="safety_sew18qf16afq 1.png" width="80" height="80">
                            <p>Безопасность ваших данных</p>
                        </div>
                        <div class="row-2_block">
                            <img src="usability_8ymhtvc0gc57 1.png" width="80" height="80">
                            <p>Удобство использования</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main_body_dl2_photo">
            <div class="main_body_dl2_photo__text">
                <h2>Готовность к готовке</h2>
                <p>Присоединяйся к нашему сообществу и становись лучше!</p>
            </div>
            <div class="main_body_dl2_photo__photo">
                <img src="image 2.png">
            </div>
        </div>
        <div class="main_body_dl2_line-block">
            <div class="main_body_dl2_line-block__text">
                <h2>Нравится наш сервис</h2>
                <p>Тогда оставь нам свой отзыв, мы рады любому комментарию!</p>
            </div>
            <div class="main_body_dl2_line-block__buttons">
                <button>Создать отзыв</button>
                <button>Отзывы</button>
            </div>
        </div>
    </div>

    <footer>
        <div class="footer">
            <div class="left_footer">
                <h2>Политика конфиденциальности</h2>

                <div class="left_footer_url">
                    <a href="#">Документ о потребительских способностях</a>
                    <a href="#">Документ о правах безопасности</a>
                    <a href="#">Документ о неразглашении информации</a>
                </div>
            </div>
            <div class="right_footer">
                <h2>Наши контакты</h2>
                <div class="icon_contacts">
                    <img src="vk_social_network_logo_679eewj5emft 1.png">
                    <img src="instagram_logo_vtyznosn9smg 1.png">
                    <img src="telegram_1e4i1v42i3rw 1.png">
                </div>
                <div class="right_footer_info">
                    <p>Компания @Kitchen</p>
                    <p>
                        Компания предоставляет услуги по сохранению заметок и кулинарных рецептов
                    </p>
                </div>
            </div>
        </div>
        <div class="main_info_footer">
            <h5>Все права защищены и соблюдены</h5>
        </div>
    </footer>
</body>
</html>